.centerhead {
    font-family: "Times New Roman", Times, serif;
    color: rgba(49, 23, 8, 0.541);
    text-align: center;
}

.p {
    border: solid rgb(20, 11, 1);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 10px;
}

body {
    background-color: rgb(237, 230, 220);
}